[workspace]

members = [
]

# When doing `testground run`, the plan directory (e.g. smoke) is copied to the testground working
# directory ($TESTGROUND_HOME/data/work/requests), and then the build starts. So each plan directory
# should have its Cargo.lock.
exclude = [
    "smoke",
    "emulation",
]
